@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.content{
    margin-top: 80px;
    width: calc(100vw - 250px);
    height: calc(100vh - 75px);
}
.content{
    margin-top: 80px;
    width: calc(100vw - 250px);
    height: calc(100vh - 75px);
}

.question{
    height: 100%;
}

.navbar{
    margin-right: 240px;
    width: calc(100vw - 250px);
}

.nameForm, .loginFormSubmit{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.active{
    color: #2563EB;
    font-weight: 500;
}

.percentageBar{
    transition: 0.5s ease 0s;
}

.p0{
    width: 0%;
}
.p25{
    width: 25%;
}
.p50{
    width: 50%;
}
.p75{
    width: 75%;
}
.p100{
    width: 100%;
}